body {
  font-family: 'Oswald', sans-serif;
  background-color: #001018;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* Menjadikan body sebagai posisi relatif */
}

header {
  text-align: center;
  margin-bottom: 1px;
  color: #FFFFFF;
  background-color: #3853ca;
  padding: 10px;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
}

footer {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.puzzle {
  position: absolute; /* Menjadikan posisi absolut */
  top: 50%; /* Menempatkan elemen di bagian tengah vertikal */
  left: 50%; /* Menempatkan elemen di bagian tengah horizontal */
  transform: translate(-50%, -50%); /* Untuk menggeser posisi agar titik tengah elemen berada di tengah layar */
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  width: 320px;
  margin: 0 auto;
}

.tile {
  width: 100px;
  height: 100px;
  border: 2px solid #30c1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tile:hover {
  background-color: #145b7b;
}

.puzzle-text {
  text-align: center; /* Pusatkan teks */
  margin-top: 400px; /* Sesuaikan jarak atas teks dari kotak puzzle */
  color: #FFFFFF; /* Warna teks */
}
